[submodule "saber-jedi"]
	path = saber-jedi
	url = https://github.com/JCSDA/saber
[submodule "vader-jedi"]
	path = vader-jedi
	url = https://github.com/JCSDA/vader
[submodule "oops-jedi"]
	path = oops-jedi
	url = https://github.com/JCSDA/oops
